/*-------------------
    RESET
-------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------------------
   TYPO
-------------------*/
body {
    font-family: "Montserrat", sans-serif;
    background: #080b12;
}

img {
    max-width: 100%;

}

/*-------------------
   GENERAL
-------------------*/



ul {
    list-style: none;
}

.flex {
    display: flex;
}

.container {
    height: calc(100vh - 80px);
}


.center {
    text-align: center;
}

.col {
    padding: 0 7px;
}

/*-------------------
    HOVER
-------------------*/
/* header */
.first-nav li:hover,
.playlist li:hover {
    color: #fff;
    cursor: pointer;
}

/* ----header */

/* main */
.main-head .btn:hover {
    padding: 15px 30px;
    cursor: pointer;
}

.main-content li:hover {
    color: #fff;
    cursor: pointer;
}

/* ----main */

/* footer*/

.left-foot span:hover,
.playback-keys i:hover {
    color: #fff;
    cursor: pointer;
}

.playback-keys i:hover {
    font-size: 28px;
}

.playback-keys .play:hover {
    font-size: 35px;
}















/*-------------------
    HEADER
-------------------*/
header {
    background: #000000;
    width: 200px;
    flex-shrink: 0;
    color: #6d6d6d;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    padding: 20px;


}


.logo {
    max-height: 50px;
    margin-bottom: 20px;
}

.logo-small {
    display: none;
}



.first-nav li img {
    width: 20px;
    vertical-align: bottom;

}

header li {
    font-size: 12px;
    margin-bottom: 10px;

}

.title-playlist {
    margin-top: 20px;
    color: #fff;
    font-size: 15px;
}

.square-play {
    width: 30px;
    height: 30px;
    background: grey;
    font-size: 20px;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-square {
    line-height: 30px;
    margin-left: 8px;
}

.playlist {
    flex-grow: 1;
    overflow-y: auto;
}

.header-foot {
    margin-top: auto;
}

.download {
    display: flex;
    font-size: 12px;
    margin-bottom: 5px;
}

.download img {
    width: 20px;
}

.download div {
    line-height: 20px;
    font-weight: bold;
    margin-left: 10px;
}

.profile {
    margin-top: 20px;
    display: flex;
    line-height: 20px;
}

.square-prof {
    width: 20px;
    height: 20px;
    background: grey;
    border-radius: 50%;
}

.img-prof {
    width: 100%;
    height: 80%;
}

.profile span {
    font-weight: bold;
    font-size: 12px;
    margin-left: 5px;
    color: #fff;
}

/*-------------------
   MAIN
-------------------*/

main {
    background: #141922;
    overflow-y: auto;
    width: 100%;
}



.main-head {
    color: #fff;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    background: #080b12;


}

.main-content .flex {
    justify-content: center;
    gap: 10px;
}


.row {
    display: flex;
}

.btn {
    background: transparent;
    color: #fff;
    padding: 10px 25px;
    border-color: #fff;
    border-radius: 20px;
    font-size: 10px;

}

main .col {
    width: calc(100%/6);
}

.main-content ul {
    color: #7d7f84;
    font-weight: bold;
    font-size: 12px;
    margin-top: 10px;
}

.recently {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 30px 7px;
}

/*-------------------
   ALBUM
-------------------*/
.album {
    position: relative;
}

.album-image img {
    display: block;
}

.album-image-hover {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    font-size: 50px;
    color: #fff;
}

.album:hover .album-image-hover {
    opacity: 1;
    cursor: pointer;

}

/*-------------------
   ALBUM-END
-------------------*/



.title-film {
    color: #fff;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;

}

.subtitle {
    font-size: 15px;
    color: #7d7f84;
    line-height: 3;
}

.section-for-john .recently,
.subtitle {
    padding: 0 7px;
}

.section-for-john {
    margin-bottom: 20px;
}



.square-col {
    border-radius: 50%;
    overflow: hidden;
    margin: 0 15px;
    position: relative;

}

.square-col:hover .album-image-hover {
    opacity: 1;
    font-size: 35px;

}



/*-------------------
   FOOTER
-------------------*/

.bg-foot {
    height: 80px;
    background: #282828;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.left-foot {
    display: flex;
    padding-left: 10px;
}

.left-foot img {
    height: 35px;
}

.name-song {
    color: #fff;
    font-size: 13px;
    margin: 8px 5px;
}

.description {
    color: #7d7f84;
    font-weight: bold;
    font-size: 8px;
}

.name-song .like {
    margin-left: 35px;
}

.name-song .like,
.name-song .save {
    color: #7d7f84;
    margin-right: 5px;

}

.playback-keys {
    padding-bottom: 10px;
    text-align: center;
}

.playback-keys i {
    margin-right: 20px;
    font-size: 25px;
    color: #fff;

}

.center-foot .flex {
    align-items: center;
}

.center-foot .min {
    color: #fff;
    font-size: 8px;
    font-weight: bold;
}

.center-foot .bar {
    width: 400px;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
}

.playback-keys .play {
    font-size: 30px;
}

.playback-keys .pause {
    display: none;
}

.right-foot {
    display: flex;
    margin-right: 10px;
    flex-wrap: wrap;

}

.right-foot button {
    background: transparent;
    border: none;
    font-size: 13px;
    margin-right: 10px;
    color: #fff;
}

.bar {
    height: 6px;
    background: #7d7f84;
    width: 100px;
    margin-top: 7px;


}

.bar-inside {
    height: 100%;
    background: #fff;
    width: 20%;
    border-radius: 20px;

}






/*-------------------
  RESPONSIVE 
-------------------*/



@media screen and (max-width: 1100px) {

    .main-content .row {
        flex-wrap: wrap;

    }

    main .col {
        width: calc(100%/4);
    }

    .main-content .flex {
        flex-wrap: wrap;
        gap: 20px;
        font-size: 22px;
        line-height: 3;


    }

    .col-special {
        width: 50%;
    }
}


@media screen and (max-width: 700px) {
    .main-content .flex {
        font-size: 20px;
    }




    .main-content .col {
        width: 50%;

    }

    .center-foot .bar {
        width: 200px;
    }

    .center-foot .playback-keys i {
        font-size: 20px;
    }




}



@media screen and (max-width: 600px) {
    header {
        width: 30px;
        padding: 5px;
    }

    .logo {
        display: none;

    }

    .logo-small {
        display: block;
    }

    .logo-small img {
        height: 20px;
    }

    .first-nav img {
        height: 30px;
    }

    .first-nav span {
        display: none;
    }

    .title-playlist,
    .playlist {
        display: none;
    }

    .header-foot .app {
        display: none;
    }

    header hr {
        display: none;
    }

    .profile span {
        display: none;
    }

    .main-content .flex {
        font-size: 15px;


    }

    .center-foot .bar {
        width: 150px;
    }

    .center-foot .playback-keys i {
        font-size: 15px;
    }

    .left-foot {
        padding-left: 0px;
    }


}