/*-------------------
    RESET
-------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------------------
   TYPO
-------------------*/
body {
    font-family: "Montserrat", sans-serif;
    background: #080b12;
}

img {
    max-width: 100%;

}

/*-------------------
   GENERAL
-------------------*/



ul {
    list-style: none;
}

.flex {
    display: flex;
}

.container {
    height: calc(100vh - 50px);
}


.center {
    text-align: center;
}

.col {
    padding: 0 7px;
}










/*-------------------
    HEADER
-------------------*/
header {
    background: #000000;
    width: 200px;
    flex-shrink: 0;
    color: #6d6d6d;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    padding: 20px;


}


.logo {
    max-height: 50px;
    margin-bottom: 20px;
}

.logo-small {
    display: none;
}



.first-nav li img {
    width: 20px;
    vertical-align: bottom;

}



header li {
    font-size: 12px;
    margin-bottom: 10px;

}

.title-playlist {
    margin-top: 20px;
    color: #fff;
    font-size: 15px;
}

.square-play {
    width: 30px;
    height: 30px;
    background: grey;
    font-size: 20px;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-square {
    line-height: 30px;
    margin-left: 8px;
}

.playlist {
    flex-grow: 1;
    overflow-y: auto;
}

.header-foot {
    margin-top: auto;
}

.download {
    display: flex;
    font-size: 12px;
    margin-bottom: 5px;
}

.download img {
    width: 20px;
}

.download div {
    line-height: 20px;
    font-weight: bold;
    margin-left: 10px;
}

.profile {
    margin-top: 20px;
    display: flex;
    line-height: 20px;
}

.square-prof {
    width: 20px;
    height: 20px;
    background: grey;
    border-radius: 50%;
}

.img-prof {
    width: 100%;
    height: 80%;
}

.profile span {
    font-weight: bold;
    font-size: 12px;
    margin-left: 5px;
    color: #fff;
}

/*-------------------
   MAIN
-------------------*/

main {
    background: #141922;
    overflow-y: auto;
    width: 100%;
}



.main-head {
    color: #fff;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    background: #080b12;


}

.main-content .flex {
    justify-content: center;
    gap: 10px;
}

.row {
    display: flex;
}

.btn {
    background: transparent;
    color: #fff;
    padding: 10px 25px;
    border-color: #fff;
    border-radius: 20px;
    font-size: 10px;

}

main .col {
    width: calc(100%/6);
}

.main-content ul {
    color: #7d7f84;
    font-weight: bold;
    font-size: 12px;
    margin-top: 10px;
}

.recently {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 30px 7px;
}

.title-film {
    color: #fff;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;

}

.subtitle {
    font-size: 15px;
    color: #7d7f84;
    line-height: 3;
}

.section-for-john .recently,
.subtitle {
    padding: 0 7px;
}

.section-for-john {
    margin-bottom: 20px;
}

/*-------------------
   FOOTER
-------------------*/

.bg-foot {
    height: 50px;
    background: #282828;
}


/*-------------------
  RESPONSIVE 
-------------------*/



@media screen and (max-width: 1100px) {

    .main-content .row {
        flex-wrap: wrap;

    }

    main .col {
        width: calc(100%/4);
    }

    .main-content .flex {
        flex-wrap: wrap;
        gap: 20px;
        font-size: 22px;
        line-height: 3;


    }
}


@media screen and (max-width: 700px) {
    .main-content .flex {
        font-size: 20px;
    }




    .main-content .col {
        width: calc(100% / 2);
    }




}



@media screen and (max-width: 600px) {
    header {
        width: 30px;
        padding: 5px;
    }

    .logo {
        display: none;

    }

    .logo-small {
        display: block;
    }

    .logo-small img {
        height: 20px;
    }

    .first-nav img {
        height: 30px;
    }

    .first-nav span {
        display: none;
    }

    .title-playlist,
    .playlist {
        display: none;
    }

    .header-foot .app {
        display: none;
    }

    header hr {
        display: none;
    }

    .profile span {
        display: none;
    }

    .main-content .flex {
        font-size: 15px;


    }

}