/*-------------------
    RESET
-------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #000000;
}

body {
    font-family: "Montserrat", sans-serif;
    background: #080b12;
}

img {
    max-width: 100%;

}

ul {
    list-style: none;
}

.flex {
    display: flex;
}

.container {
    height: calc(100vh - 50px);
}

.bg-foot {
    height: 50px;
    background: #282828;
}

.center {
    text-align: center;
}

main {
    height: 100%;
    background: #141922;
}









/*-------------------
    HEADER
-------------------*/

.container-head {
    max-width: 200px;
    color: #6d6d6d;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    padding: 20px;


}

.logo {
    width: 130px;
    margin-bottom: 20px;
}

.end {
    margin-top: auto;
}



.container-head li img {
    width: 20px;
    vertical-align: bottom;

}



.container-head li {
    font-size: 12px;
    margin-bottom: 10px;

}

.container-head h3 {
    margin-top: 20px;
    color: #fff;
    font-size: 15px;
}

.square-play {
    width: 30px;
    height: 30px;
    background: grey;
    font-size: 20px;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-square {
    line-height: 30px;
    margin-left: 8px;
}

.profile {
    margin-top: 20px;
    display: flex;
    line-height: 20px;
}

.square-prof {
    width: 20px;
    height: 20px;
    background: grey;
    border-radius: 50%;
}

.img-prof {
    width: 100%;
    height: 80%;
}

.profile span {
    font-weight: bold;
    font-size: 12px;
    margin-left: 5px;
    color: #fff;
}

/*-------------------
   MAIN
-------------------*/

.main-head {
    color: #fff;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    background: #080b12;


}

.main-content .flex {
    justify-content: center;
    gap: 10px;
}

.row {
    display: flex;
}

.btn {
    background: transparent;
    color: #fff;
    padding: 10px 25px;
    border-color: #fff;
    border-radius: 20px;
    font-size: 10px;

}

main .col {
    width: calc(100%/6);
}

.main-content ul {
    color: #7d7f84;
    font-weight: bold;
    font-size: 12px;
    margin-top: 10px;
}

@media screen and (max-width: 1100px) {

    .main-content .row {
        flex-wrap: wrap;

    }

    main .col {
        width: calc(100%/4);
    }
}